<div class="parent__login"><div class="contenedor__login">
    <div class="contenedor__login__header">
        <h3>Ingresar a Sistema Logistica</h3>
    </div>
    <div class="contener__login__body">

        <div class="contenedor__login__text">
            <input type="text" placeholder="Nombre de usuario"/>
        </div>
        <div class="contenedor__login__text">
            <input type="password" placeholder="Contraseña"/>
        </div>
       
    </div>
    <div class="contenedor__login__footer">
        <div class="contenedor__login__btn">
        <div class="check">    <input type="checkbox"  placeholder="Aaaaaaaaaaaaaa" > <p>Recordar en este equipo</p></div>    <a href="/" class="login__btn">Iniciar Sesion</a>
        </div>
    </div>
  
</div>

</div>