<div style="position: relative; display:flex; justify-content: center;">
  <div *ngIf="apiLoaded | async">
    <google-map width="100vw" height="100vh" [center]=center [options]="optionsMap">

      <map-marker *ngFor="let marker of getSemaforos()" [options]=marker.opciones [icon]="marker.icon"
        [title]="marker.idSemaforo" (mapClick)="getCurrent(marker)" [clickable]="true"></map-marker>

      <ng-container *ngFor="let marker of getCongestion()">
        <map-marker [options]=marker.opciones [icon]="marker.icon" [title]="marker.description"
          (mapClick)="openInfoWindow(marke, infoWindow)" [clickable]="true" #marke="mapMarker">

        </map-marker>
        <map-info-window #infoWindow="mapInfoWindow"><app-alert-info [type]="marker.type"
            [description]="marker.description" [id]="marker.id"
            [resolver]="service"></app-alert-info></map-info-window>
      </ng-container>
    </google-map>

  </div>



</div>
<!-- <div *ngIf="current"> -->
<control-semaforo [currentSelected]="current"></control-semaforo>
<!-- </div> -->

<!-- </ng-component> -->